* {
  margin: 0 auto;
  height: auto;
}

body {
  margin: 0 auto;
  padding: 0;
  align-content: center;
  background-color: black;
}
#header {
  position: relative;
  width: 100%;
  background-image: url("../img/backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
  overflow: hidden;
}
.profile-pic img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 180px;
  height: 200px;
  margin-top: 100px;
  border-radius: 50%;
}
.scrolling-name {
  position: absolute;
  top: 50%;
  left: 70;
  width: 75%;
  animation: scrollText 10s linear infinite; /* Adjust the duration and timing function as needed */
  white-space: nowrap; /* Prevent the name from wrapping to the next line */
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Start offscreen to the right */
  }
  100% {
    transform: translateX(-100%); /* Scroll completely offscreen to the left */
  }
}

#main {
  justify-content: center;
  width: 90%;
  display: block;
  background-color: rgb(14, 14, 59);
  color: wheat;
}
navbar {
  display: flex;
  display: flex-end;
  justify-content: center;
  padding: 30px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: larger;
}
navbar ul {
  display: flex;
  list-style: none;
}
navbar ul li a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.profile-pic {
  position: relative;
}

.profile-pic img {
  position: absolute;
  top: 0%;
  left: 80%;
}
#career-profile {
  padding-top: 100px;
  width: 70%;
  height: 400px;
  color: white;
}
#career-profile p {
  font-weight: bold;
  font-size: larger;
  line-height: 1.5;
}
#experience {
  color: white;
  width: 70%;
  height: 300px;
  margin-bottom: 100px;
  padding-top: 100px;
}
#experience p {
  font-weight: bold;
  font-size: larger;
  line-height: 1.5;
}
#skill-container {
  background-image: url("../img/download.jpeg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  

}
#skills {
  display: flex;
    justify-content: center;
  align-items: center;
  color: white;
  width: 70%;
  height: 300px;
  font-weight: bold;
  font-size: larger;
  line-height: 1.5;
  margin-top: 30px;
}
.skill-title {
  margin-top: 100px;
  width: 70%;
  color: white;
}

#education {
  background-image: url("../img/education-bg.jpg");
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  background-color: rgb(14, 14, 59);
   height: 400px;
  width: 100%;
  color: black;
}
.education-container {
  width: 70%;
}
#education p {
  font-weight: bold;
  font-size: larger;
  line-height: 1.5;
 
}
.cv {
  align-items: center;
}
.cv button {
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: aqua;
  font-weight: bold;
  font-size: larger;
  font-family: verdana;
  font-style: normal;
  margin-left: 50%;
  cursor: pointer;
}

.title h1 {
  line-height: 0.8;
  padding-top: 10px;
}
.title p {
  padding-bottom: 10px;
  padding-left: 50px;
  font-weight: bolder;
}
#project-container {
  margin-top: 100px;
  padding-top: 100px;
}
#projects {
  position: relative;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: rgb(14, 14, 59);
  display: flex;
  width: 70%;
  justify-content: space-between;
}
#projects img {
  width: 30%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
#projects .image3 {
  border: 5px solid white;
}
.project-title {
  text-align: center;
  display: block;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.contact-title {
  text-align: center;
  display: block;
  color: white;
  padding: 100px 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.link {
  position: absolute;
  top: 85%;
  left: 5%;
}
.link1 {
  position: absolute;
  top: 85%;
  left: 15%;
}
.link2a {
  position: absolute;
  top: 85%;
  left: 50%;
}
.link2 {
  position: absolute;
  top: 85%;
  left: 40%;
}
.link3a {
  position: absolute;
  top: 85%;
  left: 85%;
}
.link3 {
  position: absolute;
  top: 85%;
  left: 75%;
}

footer {
  padding: 10px;
  background-color: navy;
  color: white;
}

.column1 {
  margin-right: 70px;
}
#contact-me {
  display: flex;
  background-color: goldenrod;
  width: 70%;
  padding: 100px 0;
}
#contact-me a {
  text-decoration: none;
  color: black;
}

.email,
.location {
  color: black;
}
.email h3 {
  margin-left: 10px;
}
.firstTwo {
  display: block;
  margin-left: 20px;
}
.secondTwo {
  display: block;
}
.github {
  display: flex;
  margin-bottom: 20px;
}
.github h3 {
  padding-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
}
.github img{
  width: 50px;
  height: 50px;
}
.linkedin img {
  margin-left: 30px;
}
.linkedin {
  display: flex;
}
.linkedin h3 {
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 10px;
}

.email {
  display: flex;
  margin-bottom: 20px;
}
.email h3 {
  margin-top: 10px;
  margin-right: 50px;
}
.location {
  display: flex;
}
.location h3 {
  margin-top: 20px;
  margin-right: 80px;
}
.contact-me h3 {
  padding-top: 10px;
}
.telephone{
  display: flex;
  color: black;
}
.telephone h3 {
  padding-top: 20px;
  padding-right: 20px;
  margin-right: 100px;
}
.telephone img {
  margin-top: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
.telephone img{
  margin-left: 80px;
  width: 30px;
  height: 30px;
}
  .github img {
    margin-left: 80px;
    width: 30px;
    height: 30px;
  }
  .github h3 {
    margin-left: 0;
  }
  .profile-pic img {
    display: none;
  }
  .link1,
  .link,
  .link2,
  .link2a,
  .link3,
  .link3a,
  button {
    width: auto;
    font-size: 3px;
    width: 20px;
    text-align: center;
  }
  #contact-me {
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }
  .firstTwo,
  .secondTwo {
    display: block;
  }
  #main {
    width: 100%;
    display: block;
    font-weight: 100;
    font-size: 10px;
    line-height: 1.5em;
  }
  #education {
    height: 100px;
    margin-bottom: 20px;
  }
  body {
    height: auto;
  }
  navbar {
    width: 90%;
    font-size: 10px;
  }
  #skills {
    height: 100px;
  }
  .cv button {
    padding: 5px auto;
    width: 100px;
    cursor: pointer;
  }
  .linkedin img {
    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .email img {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-left: 5px;
  }
  .location img {
    margin-left: 5px;
  }
}
